<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ config.title }}</title>
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
  </head>
  <body>
    <style>
      header {
        display: flex; align-items: center; gap: 1em; font-size: 25pt; font-weight: bold;
      }
      footer {
        text-align: center;
      }
    </style>
    <header>
      <img src="logo.svg" width="50pt" alt="Logo" class="logo"/>
      {{ config.title }}
    </header>
    {% block content %}{% endblock content %}
    <footer>
      <hr/>
      Made with <span aria-label="Love" style="color: #f43f5e">&hearts;</span>
      in Chennai by
      <a href="https://arunkd13.github.io" target="_blank">arunkd13</a>
    </footer>
  </body>
</html>
