{% extends "base.html" %}
{% block content %}
<style>
  header {
    display: flex; align-items: center; gap: 1em; font-size: 25pt; font-weight: bold;
  }
  .book-list {
    list-style-type: none;
    padding: 0;
    margin-top: 2em;
  }
  .book-list li {
    margin-bottom: 1em;
    align-items: top;
  }

  .cover {
    box-shadow: 5px 5px 3px 2px rgb(0 0 0 / 20%);
    border-radius: 1px;
    border-style: solid;
    border-color: rgb(0 0 0 / 20%);
    width: 15em;
    float: left;
    margin-right: 2em;
}

</style>
  <header>
    <img src="logo.svg" width="50pt" alt="Logo" class="logo"/>
    {{ section.title }}
  </header>
  {{ section.content | safe }}

  {% set books_section = get_section(path="books/_index.md") %}
  {% if books_section.pages | length > 0 %}
    <h3>{{ books_section.title }}</h3>
    <ol class="book-list">
      {% for book in books_section.pages %}
      {%    set synopsis = load_data(url="https://raw.githubusercontent.com/sophia-publishing/" ~ book.extra.project ~ "/main/README") %}
        <li>
          <a href="https://raw.githubusercontent.com/sophia-publishing/{{ book.extra.project }}/pdf-output/book.pdf">
              <img src="https://raw.githubusercontent.com/sophia-publishing/{{ book.extra.project }}/pdf-output/book-cover-for-web.jpg" alt="{{ book.title }}" class="cover"/></a>
              <p>
          {{ synopsis | safe }}
          </p>
          <a href="https://github.com/sophia-publishing/{{book.extra.project}}">Source</a>
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p>No books available at the moment.</p>
  {% endif %}
{% endblock content %}