{% extends "base.html" %}
{% block content %}
  <style>
    div.title {
      grid-area: title;
    }
    div.book {
      grid-area: book;
    }
    div.synopsis {
      grid-area: synopsis;
    }
    .book-list {
      list-style-type: none;
      padding: 0;
      margin-top: 2em;
    }
    .book-list li {
      display:grid;
      grid-template-areas: 
        "title"
        "book"
        "synopsis";
      column-gap: 2em;
      row-gap: 1em;
    }
    @media (min-width: 40em) {
      .book-list li {
        grid-template-columns: 1fr 2fr;
        grid-template-areas: 
          "title title"
          "book synopsis";
        }
    }

    .book img {
      filter:
        drop-shadow(
          1px 2px 3px hsla(0, 0%, 57%, 0.3)
        )
        drop-shadow(
          2px 4px 6px hsla(0, 0%, 57%, 0.3)
        )
        drop-shadow(
          4px 8px 12px hsla(0, 0%, 57%, 0.3)
        );
      will-change: transform;
      transition: transform 450ms;
    }
    .book img:hover {
      transform: scale(1.05);
      transition: transform 150ms;
    }
    .book {
      text-align: center;
    }
  </style>
  {{ section.content | safe }}

  {% set books_section = get_section(path="books/_index.md") %}
  {% if books_section.pages | length > 0 %}
    <h3>{{ books_section.title }}</h3>
    <ol class="book-list">
      {% for book in books_section.pages %}
      {%    set synopsis = load_data(url="https://raw.githubusercontent.com/sophia-publishing/" ~ book.extra.project ~ "/main/SYNOPSIS") %}
        <li>
          <div class="title">
            <h4>
              {{ book.title | safe }}—<i>{{ book.extra.author | safe }}</i>
            </h4>
          </div>
          <div class="book">
            <a href="https://raw.githubusercontent.com/sophia-publishing/{{ book.extra.project }}/pdf-output/print.pdf">
              <img src="https://raw.githubusercontent.com/sophia-publishing/{{ book.extra.project }}/pdf-output/book-cover-for-web.jpg" alt="{{ book.title }}"/>
            </a>
          </div>
          <div class="synopsis">
            <p>{{ synopsis | linebreaksbr | safe }}</p>
            <p><a href="https://github.com/sophia-publishing/{{book.extra.project}}">Source</a></p>
          </div>
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p>No books available at the moment.</p>
  {% endif %}
{% endblock content %}